<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>web.servlet.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroController</servlet-name>
        <servlet-class>web.servlet.RegistroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibroMasController</servlet-name>
        <servlet-class>web.servlet.LibroMasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>libroMas</servlet-name>
        <jsp-file>vistas_admin/libroMas.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>libroMas</servlet-name>
        <url-pattern>/libroMas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroController</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registro</servlet-name>
        <jsp-file>registro.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>FormLibrosController</servlet-name>
        <servlet-class>web.servlet.FormLibrosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRequest</servlet-name>
        <servlet-class>web.servlet.ListCiudades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCiudades</servlet-name>
        <servlet-class>web.servlet.ListCiudades</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registro</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>perfil</servlet-name>
        <jsp-file>profile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>perfil</servlet-name>
        <url-pattern>/perfil</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>principal</servlet-name>
        <jsp-file>loginExitoso.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>principal</servlet-name>
        <url-pattern>/principal</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>catalogo</servlet-name>
        <jsp-file>catalogo.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>catalogo</servlet-name>
        <url-pattern>/catalogo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>credencial</servlet-name>
        <jsp-file>credencial.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>credencial</servlet-name>
        <url-pattern>/credencial</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>reserva</servlet-name>
        <jsp-file>reservaLibros.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>reserva</servlet-name>
        <url-pattern>/reservaLibros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormLibrosController</servlet-name>
        <url-pattern>/FormLibrosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibroMasController</servlet-name>
        <url-pattern>/LibroMas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRequest</servlet-name>
        <url-pattern>/ListRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCiudades</servlet-name>
        <url-pattern>/ListCiudades</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
